<div class="modal-body myModal col-lg-12" ng-if="!isSuccess">
    <div class="modal-header">
        <h3 class="modal-title modalTitle">Error </h3>
    </div>
    <div class="modal-body modalText modalError col-lg-12 row">
        <div class="modalErrorText col-lg-9">
            {{errMsg}}
        </div>
        <div class="col-lg-2 ">
            <img class="alertImg" src="vendor/images/failImg.png">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
    </div>
</div>


<div class="modal-body myModal col-lg-12" ng-if="isSuccess">
    <div class="modal-header">
        <h3 class="modal-title modalTitle">Success </h3>
    </div>
    <div class="modal-body modalText modalError col-lg-12 row">
        <div class="modalSuccess col-lg-9">
            Completed successfully
        </div>
        <div class="col-lg-2 ">
            <img class="alertImg" src="vendor/images/successImg.png">
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
    </div>
</div>