<div class=" row " id="homePage">
    <div class="col-lg-12 firstImage slide">
        <h1>
            DinnerPlanner
        </h1>
        <h2>
            Plan Your Own Dinner
        </h2>
    </div>
    <div class="col-lg-12 secondImage slide">
        <h2>
            some long long long text some long long long text some long long long text some long long long text
        </h2>
    </div>
    <div class="col-lg-12 thirdImage slide">
        <h2>
            some long long long text some long long long text some long long long text some long long long text
        </h2>
        <div class="row col-lg-12">
            <button class="button topButton" ui-sref="login">
                Start create your own dinner
            </button>
        </div>
    </div>

    <div class="col-lg-12">

    </div>
</div>