<div class="leftMenuPosition col-lg-2">
    <div class="row col-lg-12 ">
        <div class="col-lg-12 border-bottom row justify-content-between shoppingListItem panel panel-default">
            <h3 class="col-lg-12 menuTitle">
                My Dinners
            </h3>
        </div>
        <div class="shoppingListItem col-lg-12 row justify-content-between panel panel-default"
             ng-repeat="(key, value) in myList">
            <button ng-click="showDinnerList(value)" class=" btn col-lg-9 offset-lg-1 shoppingButton panel-heading">
                {{value.meal}}
            </button>
            <button type="button" class="col-lg-2 btn removeButton" ng-click="removeItem(key)"><i
                    class="fa fa-close"></i></button>
        </div>
    </div>
</div>

<div class="rowMenuPosition col-lg-2">
    <div class="row col-lg-12">
        <div class="col-lg-12  row justify-content-between shoppingListItem panel panel-default">
            <h3 class="col-lg-12 menuTitle">
                ShoppingList
            </h3>
        </div>

        <div class="col-lg-12 row">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th class="modalText" scope="col">#</th>
                    <th class="modalText" scope="col">Name</th>
                    <th class="modalText" scope="col">Count</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="(key,value) in showList.ingList">
                    <th class="modalText" scope="row">{{key+1}}</th>
                    <td class="modalText">{{value.name}}</td>
                    <td class="modalText">{{value.sum}}</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<div class="col-lg-8">
    <h1>
        My Page
    </h1>
    <div id="myPage" class="marginBottom30">
        <div class="row col-lg-12" ng-repeat="(key, value) in showList.foods">
            <div class="card-container col-lg-12 row">
                <div class="card u-clearfix col-lg-12">
                    <div class="card-body row col-lg-12">
                        <div class="card-title col-lg-12 row">
                            <img src="{{value.photoLink}}" alt="" class="card-media col-lg-4"/>
                            <!--<img src="https://s15.postimg.cc/temvv7u4r/recipe.jpg" alt="" class="card-media col-lg-4"/>-->
                            <div class="card-title col-lg-8">
                                <h2 class="card-title col-lg-8">{{value.name}}</h2>
                                <span class="card-description subtle col-lg-8">{{value.desc}}</span>
                                <ul class="media  card-description dinnerData col-lg-8">
                                    <li><i class="fa fa-clock-o "></i> {{value.cookingTime}} Minutes</li>
                                    <li><i class="fa fa-leaf"></i> {{value.calories}} Calories</li>
                                    <li><i class="fa fa-cutlery"></i> {{value.peopleCount}} People</li>
                                </ul>
                            </div>
                        </div>
                        <div class="border col-lg-12"></div>
                        <div id="ingStep" class="card-body col-lg-12 row">
                            <div class="card-read col-lg-12 subtle text-center ">Ingredients</div>
                            <ul>
                                <li class="col-lg-2" ng-repeat="(key, value) in value.ingredients">
                                    <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                                    {{value.name}} : {{value.count}}
                                </li>
                            </ul>
                        </div>

                        <div id="recipeStep" class="card-body col-lg-12 row">
                            <div class="card-read col-lg-12 subtle text-center ">Recipe</div>
                            <ol class="col-lg-12">
                                <li class="col-lg-12" ng-repeat="(key, value) in value.recipe">
                                    {{value}}
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="card-shadow">

                </div>
            </div>
        </div>
    </div>
</div>

