<div class="modal-body col-lg-12 modal-lg myModal">
    <div class="modal-header">
        <h3 class="modal-title modalTitle">{{title}}</h3>
    </div>

    <div class="modal-body modalText">
        For creating of new recipe, please fill the details below
    </div>
    <form name="addRecipeForm" class="col-lg-12 modal-body" ng-submit="validationAddRecipe(addRecipeForm) && ok()">
        <div class="form-group col-lg-12">
            <label class="col-lg-2" for="dishInputName">Name</label>
            <input min="2" max="30" ng-pattern="/^[\w -]*$/" type="text" class="form-control col-lg-7 offset-lg-3" id="dishInputName" placeholder="Dish Name"
                   ng-model="dish.name" required>

        </div>
        <div class="form-group col-lg-12">
            <label class="col-lg-2" for="dishLink">Image</label>
            <input min="2" max="50" type="text" class="form-control col-lg-7 offset-lg-3" id="dishLink"
                   placeholder="Dish Image Link"
                   ng-model="dish.photoLink">
        </div>
        <div class="form-group col-lg-12 row">
            <label class="col-lg-3 " for="dishCalories">Calories</label>
            <input type="number" class="form-control col-lg-3" id="dishCalories" placeholder="Calories"
                   ng-model="dish.calories" required>

            <label class="col-lg-3 " for="dishPeopleCount">People Count</label>
            <input type="number" class="form-control col-lg-3" id="dishPeopleCount" placeholder="People"
                   ng-model="dish.peopleCount" required>

            <label class="col-lg-3 " for="dishCookingTime">Cooking Time</label>
            <input type="number" class="form-control col-lg-3" id="dishCookingTime" placeholder="Cooking Time"
                   ng-model="dish.cookingTime" required>
            <label class="col-lg-3 " for="newIng">Add New Ingredient</label>
            <input type="text" class="form-control col-lg-2" id="newIng" placeholder="Add Ingredient"
                   ng-model="newIng">
            <button class="btn col-lg-1 removeButton" type="button" ng-click="addIng()"><i
                    class="fa fa-plus "></i></button>

        </div>

        <div class="form-group col-lg-12 col">

            <textarea min="2" max="200" ng-model="dish.recipe" class="form-control" rows="5" id="comment"
                      placeholder="Dish Recipe" required></textarea>

        </div>
        <div class="col-lg-12 row" ng-if="!isEdit">
            <div class="form-group col-lg-12 row">
                <label class="col-lg-2" for="searchIng">Search Ingredient</label>
                <input min="2" max="50" type="text" id="searchIng" class="form-control col-lg-6 offset-lg-1"
                       placeholder="Search ingredient by name" ng-model="searchForIng">
                <button type="button" ng-click="searchIngredientByName(searchForIng)" class="btn col-lg-1 removeButton"><i
                        class="fa fa-search"></i></button>
                <button type="button" ng-click="getIngredients()" class="btn col-lg-1 removeButton"><i
                        class="fa fa-search-plus"></i></button>
            </div>
            <div class="col-lg-4 row" ng-repeat="(key, value) in ingredients">
                <label class="col-lg-6 text-truncate" for="ingName">{{ingredients[key].name}}</label>
                <input type="number" id="ingName" class="form-control col-lg-6" aria-label="..."
                       ng-model="ingredients[key].count">
            </div>

        </div>


        <div class="modal-footer">
            <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
            <button class="btn btn-secondary" type="button" ng-click="cancel()">Cancel</button>
        </div>
    </form>
</div>
