<div class=" row " id="homePage">
    <div class="col-lg-12 firstImage slide">
        <h1>
            DinnerPlanner
        </h1>
        <h2>
            Plan Your Own Dinner
        </h2>
    </div>
    <div class="col-lg-12 secondImage slide">
        <h2>
            Plan your meals with a new revolutionary tool.
        </h2>
    </div>
    <div class="col-lg-12 thirdImage slide">
        <h2>
            Impress your guests with some of our finest recipes or just treat yourself with a good meal.
        </h2>
        <div class="row col-lg-12">
            <button class="button topButton" ui-sref="login">
                Start create your own dinner
            </button>
        </div>
    </div>

    <div class="col-lg-12">

    </div>
</div>